/.vscode
try/camera.h
try/color.h
try/hittable_list.h
try/hittable.h
try/img.ppm
try/img1.ppm
try/img2.ppm
try/img3.ppm
try/material.h
try/multi
try/perf.data
try/perf.data.old
try/pointeur.cpp
try/ray.h
try/rtweekend.h
try/sphere
try/sphere.h
try/test
try/test.cpp
try/vec3.h
try/.vscode/c_cpp_properties.json
try/.vscode/launch.json
try/.vscode/settings.json
try/.vscode/tasks.json
azer
agence/.vscode/launch.json
agence/.vscode/settings.json
agence/.vscode/tasks.json
agence/a.out
agence/main
echeck/.vscode/settings.json
echeck/echecs
echeck/average.m
echeck/jeu.o
echeck/echiquier.o
echeck/LP_bourrin.asv
echeck/LP_bourrin.m
echeck/LP_Simplex.asv
echeck/LP_Simplex.m
echeck/main.o
echeck/piece.o
echeck/run.asv
echeck/square.o
puissance4/a.out
puissance4/couleur.h.gch
puissance4/jeux.h.gch
puissance4/joueur.h.gch
puissance4/partie.h.gch
puissance4/.vscode/settings.json
puissance4/main
echeck/run.m
echeck/square.o
echeck/piece.o
echeck/main.o
echeck/jeu.o
echeck/echiquier.o
echeck/echecs
echeck/.vscode/launch.json
echeck/.vscode/tasks.json
echeck/sebmove-valgrind
echeck/parties/test.log
echeck/test.log
echeck/test
echeck/eee
echeck/parties/4-ill-bishop-1-valgrind
echeck/parties/4-ill-knight-1-valgrind
echeck/parties/4-ill-pawn-1-valgrind
echeck/parties/4-ill-rook-1-valgrind
echeck/parties/4-leg-bish-knight-valgrind
echeck/parties/4-leg-bishop-1-valgrind
echeck/parties/4-leg-knight-1-valgrind
echeck/parties/4-leg-pawn-1-valgrind
echeck/parties/5-ill-chess-1-valgrind
echeck/parties/5-leg-chess-1-valgrind
echeck/parties/6-ill-move-after-chess-valgrind
echeck/parties/6-ill-roque-1-valgrind
echeck/parties/6-leg-pawn-passing-valgrind
echeck/parties/6-leg-roque-1-valgrind
echeck/parties/6-leg-roque-2-valgrind
echeck/parties/fischer-spassky-valgrind
echeck/parties/mat-valgrind
echeck/parties/partie-cavalier-valgrind
echeck/parties/partie-e5xd4-valgrind
echeck/parties/partie1-valgrind
echeck/parties/pat-valgrind
echeck/parties/pion-valgrind
echeck/parties/rock-valgrind
echeck/parties/sebmove-valgrind
echeck/parties/themove-valgrind
echeck/jeu.gcda
echeck/jeu.gcno
echeck/main.gcda
echeck/main.gcno
echeck/piece.gcda
echeck/piece.gcno
echeck/square.gcda
echeck/square.gcno
echeck/echiquier.gcda
echeck/echiquier.gcno
echeck/all
