/.vscode
try/camera.h
try/color.h
try/hittable_list.h
try/hittable.h
try/img.ppm
try/img1.ppm
try/img2.ppm
try/img3.ppm
try/material.h
try/multi
try/perf.data
try/perf.data.old
try/pointeur.cpp
try/ray.h
try/rtweekend.h
try/sphere
try/sphere.h
try/test
try/test.cpp
try/vec3.h
try/.vscode/c_cpp_properties.json
try/.vscode/launch.json
try/.vscode/settings.json
try/.vscode/tasks.json
azer
agence/.vscode/launch.json
agence/.vscode/settings.json
agence/.vscode/tasks.json
agence/a.out
agence/main
echeck/.vscode/settings.json
echeck/echecs
echeck/average.m
echeck/jeu.o
echeck/echiquier.o
echeck/LP_bourrin.asv
echeck/LP_bourrin.m
echeck/LP_Simplex.asv
echeck/LP_Simplex.m
echeck/main.o
echeck/piece.o
echeck/run.asv
echeck/square.o
puissance4/a.out
puissance4/couleur.h.gch
puissance4/jeux.h.gch
puissance4/joueur.h.gch
puissance4/partie.h.gch
puissance4/.vscode/settings.json
puissance4/main
echeck/run.m
